
.eds-md-esp-title {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-140p);
  letter-spacing: 0;
  margin: 0 0 var(--spacing-4xl) 0;
  color: var(--color-brand-100);
}

.eds-md-esp-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-xl);
}

.eds-md-esp-item a {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 17.5rem;
  border: 1px solid var(--color-blue-400);
  background: var(--color-white);
  text-decoration: none;
  padding: var(--spacing-xl);
}
.eds-md-esp-item a:hover {
  box-shadow: 0px 10px 30px 0px #2f55971a;
  backdrop-filter: blur(10px);
}

.eds-md-esp-item span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 0 auto var(--spacing-xl) auto;
  background: var(--color-blue-400);
  border-radius: var(--b-radius-50p);
  border: 1px solid var(--color-brand-200);
}
.eds-md-esp-item span i {
  font-size: var(--font-size-xl-01);
  display: block;
  overflow: hidden;
}

.eds-md-esp-item p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-700);
  line-height: var(--line-height-140p);
  letter-spacing: 0;
  text-align: center;
  width: 100%;
  color: var(--color-brand-700);
}
